
*{
    margin: 0;
    padding: 0;
    font-family: "Quattrocento Sans", sans-serif;
    font-style: normal;
}

:root{
    --primer: #DC994D;
    --segundo: #1D3340;
    --tercer: #FFFF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}